h1 {
    font-family: 'Roboto Slab', serif;
    color: #0C090D;

    font-size: 2rem;
}

p,
label,
input,
ul,
li {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

a {
    color: #0C090D;
}

a:hover {
    color: #2a3da7;
}

input {
    width: 25rem;
    height: 2rem;
}

#btn {

    color: white;
    background-color: #0C090D;
}

#btn:hover {
    background-color: #2a3da7;
}

.widget {
    background-color: antiquewhite;
    margin-top: 1rem;
    text-align: center;
    max-width: 45rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.socialm i {

    margin-left: 1.5rem;
}

.socialm {
    background-color: aliceblue;
    margin-top: -1rem;
    text-align: center;
    max-width: 45rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.background-picture-1 {
    background-image: url(../img/2021-stationary-flat-lay.jpg);
    height: 15rem;
    width: 100%;
    background-size: cover;
    background-position: top;
}

.background-picture-2 {
    background-image: url(../img/2021-stationary-flat-lay.jpg);
    height: 15rem;
    width: 100%;
    background-size: cover;
    background-position: 0rem;
}

#collected-items {
display: block;
margin-top: -1rem;
margin-left: auto;
margin-right: auto;
text-align: center;
list-style-type: none;
text-decoration: underline;
line-height: 2rem;
background-color: ghostwhite;
max-width: 42.5rem;

}

@media only screen and (min-width: 45rem) {

    input {
        width: 40rem;

    }


}
